# AF2 predictions benchmark

In [45]:
import json
import os
import pandas as pd
import glob
results_dir = "/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/results/"

In [88]:
def get_plddt(results_dir, dataset):
    colabfold_dir = results_dir+dataset+"/structures/colabfold_header/"
    for fam in os.listdir(colabfold_dir):
        fam_dir = os.path.join(colabfold_dir,fam)
        fam_dir = os.path.join(fam_dir, "hip_colabfold")
        for f in os.listdir(fam_dir):
            if f.endswith('plddt.eval'):
                plddts = pd.read_csv(os.path.join(fam_dir,f), sep = "\s+", header = None)
                plddts = plddts.set_axis(["sequence", "plddt"], axis=1)
                plddts["family"] = fam
                plddts["benchmarking_dataset"] = dataset
                return(plddts)

In [91]:
# Extract plddt for each sequence in the family
af2_homfam = get_plddt(results_dir, "homfam")
af2_homfam.head(1)

  sequence   plddt family benchmarking_dataset
0     1ahl  66.917    hip               homfam

In [106]:
# Summarize plddt family-wise
af2_homfam_summary = af2_homfam.groupby(['family', "benchmarking_dataset"]).agg({'plddt': ['mean', 'min', 'max']}).reset_index().set_axis(["family", "benchmarking_dataset", "plddt_mean", "plddt_min", "plddt_max"], axis=1)
af2_homfam_summary.head()

  family benchmarking_dataset  plddt_mean  plddt_min  plddt_max
0    hip               homfam   71.948558    55.1243    82.6511