# Benchmark structural regression

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [87]:
evaluation_dir = "/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/results/evaluation"

### EVALUATION scores

In [94]:
scores = evaluation_dir + "/CSV/dynamic.scores.csv"
scores_df = pd.read_csv(scores, sep=";", header = None).iloc[: , :-1]
scores_df.set_axis(list(["name", "sp","tc", "column"]), axis=1, inplace=True)
scores_df[["family", "method", "bucket_size", "dynamicX_label","dynamicX_val",
           "master_msa", "master_batch",
           "slave_msa", "slave_batch","tree"]] = scores_df.name.str.split(".", expand = True)
scores_df.head(2)

,name,sp,tc,column,family,method,bucket_size,dynamicX_label,dynamicX_val,master_msa,master_batch,slave_msa,slave_batch,tree
0,hip.dynamic.100.dynamicX.100000.tcoffee_msa.10...,80.1,50.0,61.5,hip,dynamic,100,dynamicX,100000,tcoffee_msa,100,famsa_msa,100000000,FAMSA
1,seatoxin.dynamic.100.dynamicX.100000.tcoffee_m...,70.8,26.5,25.7,seatoxin,dynamic,100,dynamicX,100000,tcoffee_msa,100,famsa_msa,100000000,FAMSA

### COMPUTATION time

In [182]:
# Parse computational time
tracks = "/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/metainfo/pipeline_info/execution_trace.txt"
tracks_df = pd.read_csv(tracks,sep = "\t")
tracks_df = tracks_df[list(["name", "duration"])]
tracks_df = tracks_df[tracks_df.name.str.contains("DYNAMIC_ALIGNER")]
tracks_df["aligner"] = tracks_df.name.str.split(";", expand = True)[1].str.replace(")", "", regex = False).str.replace("_msa", "").str.split(":", expand = True)[0]
tracks_df["tree"] = tracks_df.name.str.split(";", expand = True)[1].str.replace(")", "",  regex = False).str.replace("_msa", "").str.split(":", expand = True)[1]
tracks_df["family"] = tracks_df.name.str.split("on", expand = True)[1].str.split(";", expand = True)[0]
tracks_df.head()

,name,duration,aligner,tree,family
1,pipeline:DYNAMIC_ANALYSIS:DYNAMIC_ALIGNER (CON...,6s,tcoffee-100,famsa-100000000,seatoxin
3,pipeline:DYNAMIC_ANALYSIS:DYNAMIC_ALIGNER (CON...,20.7s,tcoffee-100,famsa-100000000,hip