In [30]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import matplotlib.pyplot as plt
sns.set_context("talk")

## Check how many structures are found per family and how many should be there

In [31]:
str_path = "/home/luisasantus/Desktop/crg_cluster/data/structures_collections/homfam_ref/DB/structures/PDB/id_1.0_cov_1.0/*/*.pdb"

In [32]:
families_homfam = pd.read_csv('/home/luisasantus/Desktop/crg_cluster/data/structural_regression/stats/refs/02_summary_homfam_refs.csv')
families_homfam["family"] = families_homfam.family.str.split("-",expand = True)[0]

In [33]:
# Load structures summary 
str_summary = pd.DataFrame()
for file in glob.glob(str_path):
    family = os.path.basename(os.path.dirname(file))
    structure = os.path.basename(os.path.basename(file)).replace(".pdb", "")
    entry = pd.DataFrame({'family':[family], 'structure': structure})
    str_summary =  pd.concat([str_summary, entry], ignore_index = True)
summary_nstr = str_summary.groupby("family").count().reset_index()
summary_nstr = summary_nstr.rename(columns ={"structure":"structures_found"})

In [34]:
str_summary

    family structure
0      il8      2eot
1      il8     1plfa
2      il8     1rhpa
3      il8      1sdf
4      il8     1mgsa
..     ...       ...
260    hip     2hipa
261    hip      1hpi
262    hip     3hipa
263    hip     1ckua
264    hip     1isua

[265 rows x 2 columns]

In [35]:
summary_n = pd.merge(families_homfam, summary_nstr, on = "family")

In [36]:
summary_n[summary_n.n_sequences != summary_n.structures_found]

,family,benchmarking_dataset,sim,mean,median,max,n_sequences,structures_found
0,blm,homfam,39.61,261.375000,262.5,266,8,6
1,ghf11,homfam,51.00,185.400000,185.0,193,5,3
2,msb,homfam,29.11,126.000000,126.0,144,8,7
3,hr,homfam,53.40,74.000000,75.0,80,5,4
6,p450,homfam,26.55,408.000000,402.5,456,12,8
9,rnasemam,homfam,44.33,121.500000,124.0,125,6,4
13,ace,homfam,40.67,533.833333,533.5,543,6,2
14,oxidored_q6,homfam,57.60,265.200000,262.0,275,5,4
16,ins,homfam,45.93,55.833333,50.5,70,6,2
18,cah,homfam,40.30,249.200000,256.0,262,5,3
19,ChtBD,homfam,58.90,42.600000,43.0,43,5,1
26,toxin,homfam,44.45,63.500000,61.0,74,20,19
27,TNF,homfam,33.80,149.600000,147.0,163,5,4
28,sdr,homfam,28.06,259.461538,255.0,297,13,8
29,blmb,homfam,28.20,241.666667,244.0,266,6,4
30,hormone_rec,homfam,26.30,248.600000,246.0,270,5,4
31,cytb,homfam,37.93,86.000000,87.0,92,6,3
32,sti,homfam,37.50,173.600000,171.0,181,5,3
33,ldh,homfam,33.96,319.071429,316.5,333,14,7
34,kringle,homfam,44.25,82.888889,80.0,93,9,6
35,OTCace,homfam,38.70,318.000000,321.0,335,5,4
37,Ald_Xan_dh_2,homfam,34.47,763.500000,777.0,804,6,2
39,aldosered,homfam,43.19,310.857143,314.0,325,7,6
40,KAS,homfam,34.60,344.666667,334.0,388,6,2
41,DMRL_synthase,homfam,34.20,158.000000,155.0,168,5,3
43,adh,homfam,63.60,373.600000,374.0,374,5,4
45,gpdh,homfam,56.07,338.750000,333.5,358,8,4
46,peroxidase,homfam,39.10,334.400000,343.0,357,5,4

In [ ]:
# Save the families with all the structures

In [14]:
families_all_ref_structures = list(summary_n[summary_n.n_sequences == summary_n.structures_found].family)
df = pd.DataFrame(families_all_ref_structures)
df.columns = ["family"]
df.family = df.family + "-ref"
df.to_csv("/home/luisasantus/Desktop/crg_cluster/data/structural_regression/stats/refs/homfam/fams_with_structure.csv", index = False)

## Check that the sequence of the PDB has the same sequence as the reference sequence