In [1]:
import Bio.PDB as bpdb
from Bio import PDB
import sys
import pandas as pd

In [1]:
file  = "/home/luisasantus/l.txt"

In [ ]:
ff = open(file, 'r')
lines = ff.readlines()
for line in Lines:

In [15]:
from Bio import SeqIO
import sys
import re

seq_id = "1aa".split(":")[0]

ff = open(file, "r")
lines = ff.readlines()

for line in lines: 
    if bool(re.search('>'+seq_id+"\s_P_.*", line)): 
        print(line)

>1aaa _P_ 1aaaa

>1aa _P_ a

a
>1bbi _P_ 1bbi

>1tabi _P_ 1tabi

>1pi2 _P_ 1pi2

>1pbia _P_ 1pbia

In [18]:
ids_in_template = []
for line in lines: 
    result = re.search(r">(.*)\s_P_.*", line)
    ids_in_template.append(result.group(1))

1aaa
1aa
1bbi
1tabi
1pi2
1pbia

In [19]:
ids_in_template

['a', 'a', 'a', 'a', 'a', 'a']

In [29]:
file="/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/results/homfam/evaluation/tcs/scorptoxin-ref.progressive.FAMSA.MBED.tcs"
file="/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/results/homfam/evaluation/tcs/scorptoxin-ref.progressive.3DCOFFEE.MBED.tcs"
full_name = "scorptoxin-ref.progressive.3DCOFFEE.MBED"
file = "/home/luisasantus/Desktop/luisa.fa"

In [30]:
tcs_df_complete = pd.DataFrame()
file_opened = open(file, "r")
for line in file_opened: 
    if ":" in line and "CPU" not in line: 
        s_line = line.split(sep = ":")
        entry = pd.DataFrame({'msa':[full_name], 'sequence': [s_line[0].strip()],"tcs": s_line[1].strip()})
        tcs_df_complete =  pd.concat([tcs_df_complete, entry], ignore_index = True)

In [32]:
min_tcs_sequence = (tcs_df_complete.sort_values("tcs")["sequence"].iloc[0])
min_tcs_value = float(tcs_df_complete.sort_values("tcs")["tcs"].iloc[0])

print(min_tcs_sequence+":"+str(min_tcs_value)

TypeError: can only concatenate str (not "float") to str

In [24]:
tcs_df_complete[1]

KeyError: 1

In [18]:

start_res = 10
end_res = 103
chain_id = "A"

#structure = "/home/luisasantus/Desktop/crg_cluster/data/tf/cisbp/data_pbm_train/F212_2.00/colabfold_header/pdbs/M00168_2.00-T198024_2.00-MS02_2.00-Gcm1_3732-PBM_alphafold.pdb"
#outname = "my_output3.pdb"

#structure = sys.argv[3]
#outname = sys.argv[4]
shift = 10

start_res = start_res - shift + 1
end_res = end_res - shift + 1

class ResSelect(bpdb.Select):
    def accept_residue(self, res):
        # i checked, both inclusive!
        if res.id[1] >= start_res and res.id[1] <= end_res and res.parent.id == chain_id:
            return True
        else:
            return False

s = bpdb.PDBParser().get_structure('input', structure)
io = bpdb.PDBIO()
io.set_structure(s)
io.save("temp.pdb", ResSelect())



pdb_io = PDB.PDBIO()
pdb_parser = PDB.PDBParser()
final_structure = pdb_parser.get_structure("temp", "temp.pdb")

for model in final_structure:
    for chain in model:
        for i, residue in enumerate(chain.get_residues()):
            res_id = list(residue.id)
            res_id[1] = i+1
            residue.id = tuple(res_id)

pdb_io.set_structure(final_structure)
#pdb_io.save(outname + ".pdb")


# In[47]:


# You can use a dict to convert three letter code to one letter code
d3to1 = {'CYS': 'C', 'ASP': 'D', 'SER': 'S', 'GLN': 'Q', 'LYS': 'K',
'ILE': 'I', 'PRO': 'P', 'THR': 'T', 'PHE': 'F', 'ASN': 'N',
'GLY': 'G', 'HIS': 'H', 'LEU': 'L', 'ARG': 'R', 'TRP': 'W',
'ALA': 'A', 'VAL':'V', 'GLU': 'E', 'TYR': 'Y', 'MET': 'M'}


# iterate each model, chain, and residue
# printing out the sequence for each chain
print(final_structure)
for model in final_structure:
    print(model)
    for chain in model:
        seq = []
        for residue in chain:
            seq.append(d3to1[residue.resname])
sequence = ''.join(seq)


# In[ ]:

<Structure id=temp>

NameError: name 'seq' is not defined

In [3]:
fasta = "/home/luisasantus/Desktop/crg_cluster/data/structural_regression/homfam/pdbs/structures/fetched/PDB/GEL-ref/1yagg_ref.fa"

In [2]:
import Bio
from Bio import SeqIO
fasta = sys.argv[1]
output = sys.argv[3]
target_chain = sys.argv[2]

NameError: name 'sys' is not defined

In [5]:
target_chain = "A"

In [43]:
chain_str = "Chain "+target_chain
auth_chain_str = "auth "+target_chain


handle = open(output,"w")
for record in SeqIO.parse(fasta,'fasta'):
    name = record.description
    # Here the case in which multiple chains are under the same fasta sequence
    multiple_chains = re.search('Chains([^|]*)\|.*', name, re.IGNORECASE)
    chains = multiple_chains.group(1) if multiple_chains else  ""
    if auth_chain_str in name or chain_str in name or target_chain in chains : 
        SeqIO.write(record,output,"fasta")

NameError: name 'output' is not defined

In [37]:
string = ">1CDT_1|Chans A, B|CARDIOTOXIN | VII4_Naja mossambica (8"

In [42]:
chains

''

In [39]:
multiple_chains = re.search('Chains([^|]*)\|.*', string, re.IGNORECASE)
if multiple_chains:
    chains = 
else: 
    chains = ""

In [44]:
import pandas as pd
import sys

hits= "/home/luisasantus/Desktop/crg_cluster/data/structural_regression/homfam/pdbs/structures/search_hits/mmseqs/ldh-ref/ldh-ref.PDB/hits.m8"
template="template.txt"
output_ids="ids_to_download.txt"
output_chains="chains_summary.txt"

In [45]:


def get_best_hits(hits):

    df = pd.read_csv(hits, sep='\t', header = None)
    # 1 - Get all the sequences with maximum identity
    df_grouped = df.groupby([0]).agg({2:'max'})
    df_grouped = df_grouped.reset_index()
    df_grouped = df_grouped.rename(columns={2:'identity_max'})
    df = pd.merge(df, df_grouped, how='left', on=[0])
    df = df[df[2] == df['identity_max']]

    # Hits presenting a best match that also have the same id name are prioritized
    df["target_id_nochain"] = df[1].str.split("_",expand = True)[0]
    df["target_id_chainmerged"] = df[1].str.replace("_", "").str.lower()

    df_id_match_1 = df[df[0] == df["target_id_nochain"]]
    df_id_match_2 = df[df[0] == df["target_id_chainmerged"]]
    df_id_match = pd.concat([df_id_match_1,df_id_match_2])

    # If there are multiple matches per sequence( multiple chains for example), pick the firt one
    df_id_match = df_id_match.groupby(0).first().reset_index()
    # Only retain the dataframe
    df_noid_match = df[~df[0].isin(df_id_match[0])].reset_index(drop = True)
    if(not df_noid_match.empty):
        df_noid_match_filtered = df_noid_match.iloc[[df_noid_match[2].idxmax()]]
        final_df = pd.concat([df_id_match,df_noid_match_filtered])
    else:
        final_df = df_id_match

    return(final_df)

In [51]:
df = pd.read_csv(hits, sep='\t', header = None)
# 1 - Get all the sequences with maximum identity
df_grouped = df.groupby([0]).agg({2:'max'})
df_grouped = df_grouped.reset_index()
df_grouped = df_grouped.rename(columns={2:'identity_max'})
df = pd.merge(df, df_grouped, how='left', on=[0])
df = df[df[2] == df['identity_max']]

# Hits presenting a best match that also have the same id name are prioritized
df["target_id_nochain"] = df[1].str.split("_",expand = True)[0]
df["target_id_chainmerged"] = df[1].str.replace("_", "").str.lower()

df_id_match_1 = df[df[0] == df["target_id_nochain"]]
df_id_match_2 = df[df[0] == df["target_id_chainmerged"]]
df_id_match = pd.concat([df_id_match_1,df_id_match_2])

In [57]:
df_id_match

,0,1,2,3,4,5,6,7,8,9,10,11,identity_max,target_id_nochain,target_id_chainmerged
53,1a5z,1a5z_A,1.000,312,0,0,1,312,1,312,2.944000e-201,622,1.000,1a5z,1a5za
54,1llc,1llc_A,1.000,320,0,0,1,320,1,320,1.580000e-207,640,1.000,1llc,1llca
89,1ldm,1ldm_A,1.000,329,0,0,1,329,1,329,1.051000e-218,673,1.000,1ldm,1ldma
92,5ldh,5ldh_A,1.000,333,0,0,1,333,2,334,2.963000e-217,669,1.000,5ldh,5ldha
93,5ldh,5ldh_B,1.000,333,0,0,1,333,2,334,2.963000e-217,669,1.000,5ldh,5ldhb
116,2ldx,2ldx_A,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxa
117,2ldx,2ldx_B,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxb
118,2ldx,2ldx_C,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxc
119,2ldx,2ldx_D,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxd
488,2cmd,2cmd_A,1.000,312,0,0,1,312,1,312,2.261000e-195,605,1.000,2cmd,2cmda
2,4mdha,4mdh_A,1.000,333,0,0,1,333,2,334,8.616000e-215,662,1.000,4mdh,4mdha
8,1bdma,1bdm_A,0.969,327,10,0,1,317,1,327,1.191000e-199,617,0.969,1bdm,1bdma
28,1ceqa,1ceq_A,0.968,314,10,0,1,304,3,316,1.058000e-191,594,0.968,1ceq,1ceqa
126,1hlpa,1hlp_A,1.000,303,0,0,1,303,1,303,7.900000e-196,606,1.000,1hlp,1hlpa
154,1llda,1lld_A,1.000,313,0,0,1,313,7,319,1.198000e-201,623,1.000,1lld,1llda
156,9ldba,9ldb_A,1.000,331,0,0,1,331,2,332,1.022000e-220,679,1.000,9ldb,9ldba
456,1mlda,1mld_A,1.000,313,0,0,1,313,1,313,9.629000e-203,626,1.000,1mld,1mlda
523,1ldna,1ldn_A,1.000,316,0,0,1,316,1,316,1.976000e-208,643,1.000,1ldn,1ldna

,0,1,2,3,4,5,6,7,8,9,10,11,identity_max,target_id_nochain,target_id_chainmerged
0,1a5z,1a5z_A,1.000,312,0,0,1,312,1,312,2.944000e-201,622,1.000,1a5z,1a5za
1,1bdma,1bdm_A,0.969,327,10,0,1,317,1,327,1.191000e-199,617,0.969,1bdm,1bdma
2,1ceqa,1ceq_A,0.968,314,10,0,1,304,3,316,1.058000e-191,594,0.968,1ceq,1ceqa
3,1hlpa,1hlp_A,1.000,303,0,0,1,303,1,303,7.900000e-196,606,1.000,1hlp,1hlpa
4,1ldm,1ldm_A,1.000,329,0,0,1,329,1,329,1.051000e-218,673,1.000,1ldm,1ldma
5,1ldna,1ldn_A,1.000,316,0,0,1,316,1,316,1.976000e-208,643,1.000,1ldn,1ldna
6,1llc,1llc_A,1.000,320,0,0,1,320,1,320,1.580000e-207,640,1.000,1llc,1llca
7,1llda,1lld_A,1.000,313,0,0,1,313,7,319,1.198000e-201,623,1.000,1lld,1llda
8,1mlda,1mld_A,1.000,313,0,0,1,313,1,313,9.629000e-203,626,1.000,1mld,1mlda
9,2cmd,2cmd_A,1.000,312,0,0,1,312,1,312,2.261000e-195,605,1.000,2cmd,2cmda
10,2ldx,2ldx_A,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxa
11,4mdha,4mdh_A,1.000,333,0,0,1,333,2,334,8.616000e-215,662,1.000,4mdh,4mdha
12,5ldh,5ldh_A,1.000,333,0,0,1,333,2,334,2.963000e-217,669,1.000,5ldh,5ldha
13,9ldba,9ldb_A,1.000,331,0,0,1,331,2,332,1.022000e-220,679,1.000,9ldb,9ldba

In [48]:
df = get_best_hits(hits)
df

,0,1,2,3,4,5,6,7,8,9,10,11,identity_max,target_id_nochain,target_id_chainmerged
53,1a5z,1a5z_A,1.000,312,0,0,1,312,1,312,2.944000e-201,622,1.000,1a5z,1a5za
54,1llc,1llc_A,1.000,320,0,0,1,320,1,320,1.580000e-207,640,1.000,1llc,1llca
89,1ldm,1ldm_A,1.000,329,0,0,1,329,1,329,1.051000e-218,673,1.000,1ldm,1ldma
92,5ldh,5ldh_A,1.000,333,0,0,1,333,2,334,2.963000e-217,669,1.000,5ldh,5ldha
93,5ldh,5ldh_B,1.000,333,0,0,1,333,2,334,2.963000e-217,669,1.000,5ldh,5ldhb
116,2ldx,2ldx_A,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxa
117,2ldx,2ldx_B,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxb
118,2ldx,2ldx_C,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxc
119,2ldx,2ldx_D,1.000,331,0,0,1,331,1,331,1.437000e-217,670,1.000,2ldx,2ldxd
488,2cmd,2cmd_A,1.000,312,0,0,1,312,1,312,2.261000e-195,605,1.000,2cmd,2cmda
2,4mdha,4mdh_A,1.000,333,0,0,1,333,2,334,8.616000e-215,662,1.000,4mdh,4mdha
8,1bdma,1bdm_A,0.969,327,10,0,1,317,1,327,1.191000e-199,617,0.969,1bdm,1bdma
28,1ceqa,1ceq_A,0.968,314,10,0,1,304,3,316,1.058000e-191,594,0.968,1ceq,1ceqa
126,1hlpa,1hlp_A,1.000,303,0,0,1,303,1,303,7.900000e-196,606,1.000,1hlp,1hlpa
154,1llda,1lld_A,1.000,313,0,0,1,313,7,319,1.198000e-201,623,1.000,1lld,1llda
156,9ldba,9ldb_A,1.000,331,0,0,1,331,2,332,1.022000e-220,679,1.000,9ldb,9ldba
456,1mlda,1mld_A,1.000,313,0,0,1,313,1,313,9.629000e-203,626,1.000,1mld,1mlda
523,1ldna,1ldn_A,1.000,316,0,0,1,316,1,316,1.976000e-208,643,1.000,1ldn,1ldna

In [ ]:
# 2. Create file with IDs to download
df["target_id_nochain"].to_csv(output_ids, sep="\t", header=None, index=False)

# 3. Create file also with chain informations
df["chain"] = df[1].str.split("_", expand = True)[1]
df[[0,1,"chain","target_id_nochain"]].to_csv(output_chains, sep="\t", header=None, index=False)

# 4. Create template file
df["sep"] = "_P_"
df["query_id"]=">"+df[0]
cols =  ["query_id","sep","target_id_nochain"]
df[cols].to_csv(template, sep=" ", header=None, index=False)