In [19]:
import pandas as pd
import os
import pandas as pd
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio import SeqIO
import sys

In [15]:
mapping_file = "/home/luisasantus/Desktop/crg_cluster/projects/structural_regression/results/homfam/alphabet/3di/UniProtKB/seatoxin/seatoxin.mapping"

In [24]:
output_dir = "./test"

In [16]:
mapping = pd.read_csv(mapping_file, sep = "\t", header = None, engine = "python")
mapping.columns = ["id", "seq", "map"]
mapping.id = mapping.id.str.replace("_alphafold.pdb", "", regex = False)

In [30]:
for index, row in mapping.iterrows():
    # create a new SeqRecord object
    seq_record = SeqRecord(
        seq=Seq(row['map']),
        id=row['id'],
        description=''
    )
    # create a new file with the id as the file name in the output directory
    file_path = os.path.join(output_dir, row['id'] )
    with open(file_path, 'w') as f:
        # write the SeqRecord to the file in FASTA format
        SeqIO.write(seq_record, f, 'fasta')

FileNotFoundError: [Errno 2] No such file or directory: './test/1ahl.pdb'

In [29]:
mapping

,id,seq,map
0,1ahl.pdb,GVSCLCDSDGPSVRGNTLSGTLWLYPSGCPSGWHNCKAHGPTIGWCCKQ,DDQAAFVVQDDDPPPTPSQWDFDQDPVADDPPWDQRHPDDDPGGGTIHD
1,1apf.pdb,GVPCLCDSDGPRPRGNTLSGILWFYPSGCPSGWHNCKAHGPNIGWCCKK,DDQAAFVVQPDDPVPTPSQWDWDFPPDADDPPWDQRHPDDDPGTGTIHD
2,1atx.pdb,GAACLCKSDGPNTRGNSMSGTIWVFGCPSGWNNCEGRAIIGYCCKQ,DDQWQAVVLDDDPPPRDSQWDFDQPADDPPWDQRVTDDPHHGTIHD
3,1bds.pdb,AAPCFCSGKPGRGDLWILRGTCPGGYGYTSNCYKWPNICCYPH,DDWDDDPPDDDTFDKDAQDPDDDPPPQFPDWDDDVSIITTDHD
4,1sh1.pdb,AACKCDDEGPDIRTAPLTGTVDLGSCNAGWEKCASYYTIIADCCRKKK,DQAAFPVQDDDPVPGPSQWDKDFADDDPQWDQRHPDDDPGIGTIHGDD
...,...,...,...
84,TXH2_ANTS7_3-45.pdb,GVPCLCDSDGPSVRGNTLSGTLWLAGCPSGWHNCKAHGPTIGWCCKK,DDQAAFVVQDDDPPPTPSQWDFDQPADDPPWDQRHPDDDPGGGTIHD
85,TXH7_ANTS7_3-45.pdb,GVPCLCDSDGPSVHGNTLSGTIWLAGCPSGWHNCKAHGPTIGWCCKK,DQQAAFVVQDDDPPPTPSQWDFDQPADDPPWDQRHPDDDPGGGTIHD
86,TXH8_ANTS7_3-45.pdb,GVPCLCDSDGPSVRGNTLSGTLWLFGCPSGWHNCKARGPTIGWCCKK,DDQAQFVVQDDDPPPTDSQWDWDQPADDPPWDQRHPDADPGGGTIHD
87,TXNA_CONGI_3-45.pdb,GVPCRCDSDGPSVHGNTLSGTVWVGSCASGWHKCNDEYNIAYECCKE,DDQAAFVVQPDDPPPRRSQWDKDFQDDDPPWDQRHPDDDRGIGTTHD
88,TXRC1_HETCR_3-45.pdb,GVPCRCDSDGPSVHGNTLSGTIWVGSCETGWHKCNTEHNLFHECCKQ,DQQAAFVVQDDDPVPRPSQWDKDFPDDDPVWDQRHPDDDPGIGTTHD